<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>{{.Title}}</h1>
    <ul>
        {{range $element := .Data}}
            <li><a href="{{$element.Link}}">{{$element.Title}}</a></li>
        {{end}}
    </ul>
</body>
</html>